*::before,*,*::after{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: sans-serif;
    background: #f2f2f2;
}

h3{
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
    padding-top: 10px;
}

.statistics{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    width: 100%;

}

.content{

    width: 20%;
    margin: 15px;
    float: left;
    text-align: center;
    border-radius: 20px;
    background: purple;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .22);
    transition: .4s;
    background: #f2f2f2;
}

.content:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
    3px 6px rgba(0, 0, 0, .23);
    transform: translate(0px, -8px);
}

img{
    width: 60%;
    margin: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
}


h6{

    font-size: 18px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}



button{
    text-align: center;
    font-size: 18px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #2183a2;

}


.moy{
    background: #F37A3D;
}
.tot{
    background: #CD2A00;
}

.max{
    background: #FF4F18;
}

.perc{
    background: #6C19FF;

}








/*media queries

*/


@media (max-width:1000px){

    .content{
        width: 45%;
    }
}
@media (max-width:750px){

    .content{
        width: 100%;
    }
}